# Exercises - You made it!

In [ ]:
# Exercise I: Write a for loop to sum up all the items in the following list
num_list = [8, 9, 2, 65, 39, 1, 4, 32, 100]
sum = 0
for num in num_list:
  sum += num
print(sum)

260

In [ ]:
# Exercise II: 
# Previously in the Nested Loop exercise, we print each adjective for every fruit:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# What if we want to get the following output (i.e. matching each element in order)?
# Hint: think about indexing in lists, and making logical comparisons
for x in adj:
 # uncomment the code below to see which index you're at in the adj list
 # print(adj.index(x))
 for y in fruits:
   # uncomment the code below to see which index you're at in the fruits list
   # print(fruits.index(y))
   if adj.index(x) == fruits.index(y):
     print(x, y)

red apple
big banana
tasty cherry

In [ ]:
# Exercise III: Change the 'city' information to 'New York'
iron_man = {"name": "Tony Stark", 
            "city": "Los Angeles", 
            "age": 51, 
            "profession": "Industrialist"}

#Type your answer below.
iron_man["city"] = "New York"
iron_man

{'age': 51,
 'city': 'New York',
 'name': 'Tony Stark',
 'profession': 'Industrialist'}

In [ ]:
# Exercise IV: Define a function that returns the age of super heroes using the following dictionary
# Hint: Use 2 arguments -- 1 for the dictionary name, 1 for the key name
# Think about how to get values by key using .get()
# Lastly, try to get the age of Black Widow
super_hero_age = {'Iron Man': 51,
                  'Spider Man': 28,
                  'Hulk': 49,
                  'Black Widow': 37,
                  'Captain America': 99,
                  'Thor': 1500}

def get_age(dictionary, name):
  age = dictionary.get(name)
  print(age)

get_age(super_hero_age, 'Black Widow')

37